flask
flask-cors
waitress
watchdog
openpyxl
fpdf
pymupdf
easyocr
ai21
google-generativeai
langchain
langchain-community
langchain_chroma
langchain_google_vertexai
pymongo
bson
pandas
python-levenshtein
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
zerobouncesdk
stripe
python-dotenvgoogle-auth-oauthlib